* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    line-height: 1.6;
}
.navbar {
    display: flex;
    padding: 15px;
    text-align: center;
    justify-content: space-between;
    padding: 5px;
    background-color: beige;
    color: rgb(208, 199, 199);
}
.logo {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 20px;
}
.nav-links a {
    color: rgb(168, 20, 20);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
}
.nav-links a:hover {
    background-color: yellowgreen;
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
}
.hero {
    background: url('https://content.jdmagicbox.com/v2/comp/hyderabad/u1/040pxx40.xx40.220319152238.e7u1/catalogue/pnr-food-plaza-and-restaurant-hyderabad-restaurants-m6h57h0sej.jpg') no-repeat center center/cover;
    background-color: white;
    padding: 80px;
    text-align: center;
}